* {
    margin: 0;
    padding: 0;
}

::placeholder {
    color: rgba(0, 0, 0, 0.674);
}

body {
    background-color: azure;
    color: azure #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

.cruds {
    width: 80%;
    margin: auto;
    padding-bottom: 70px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #1fbab7;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
}

input:focus {
    background-color: #1fbab7;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.price input {
    width: 15%;
}

.price small {
    background-color: #8c1e0f;
    margin-left: 3%;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.price small::before {
    content: 'total :';
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #8c1e0f;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
}

button:hover {
    letter-spacing: 3px;
    background-color: #8f3225;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

#delete:hover,
#update:hover {
    letter-spacing: 1px;
    background-color: #8f3225;
    transform: none;
    transition: none;
}

.btnSearchOptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.btnSearchOptions button {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 10px;
}

table thead {
    background-color: #8c1e0f;
    color: #ffffff;
}

table thead th {
    padding: 10px;
}

table tbody td {
    padding: 10px;
    text-align: center;
}

table tbody tr {
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background-color: #1fbab7;
}

table tbody tr:nth-child(even) {
    background-color: black;
    color: #ffffff;
}

#deleteAll {
    margin-bottom: 10px;
}

#toggleMode {
    letter-spacing: 1px;
    background-color: #8f3225;
    transform: none;
    transition: none;
    width: auto;
    background-color: #8c1e0f;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #8c1e0f;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    /* fixed */
    position: fixed;
    bottom: 0;
    width: 100%;
}